# Hola Mundo

In [1]:
print('Hola Mundo')

Hola Mundo

# Variables I/O

In [1]:
suma = 5+8
suma

13

In [2]:
a = 5
b = 8

c = a + b

In [3]:
c

13

# Funciones básicas

In [4]:
print(a+b)

13

In [5]:
print(a**3)

125

In [6]:
a//2

2

In [7]:
a%2

1

In [8]:
a/2

2.5

In [9]:
raiz_9 = 9**0.5
raiz_9

3.0

# Funciones predefinidas

Machete:
    
    nombreFuncion(argumento1, argumento2... [argunmentoN])

In [10]:
flotante = 3.1415141592653589
round(flotante, 5)

3.14151

In [11]:
flotante

3.141514159265359

In [12]:
flotante = round(flotante, 4)

In [13]:
flotante

3.1415

In [14]:
nombre = 'Juan'
edad = 43

print(nombre, edad)
print(nombre)

Juan 43
Juan

# Ayuda de funciones

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Tipos de Variables

## Entero

In [16]:
a = 5
type(a)

int

## Flotante

In [17]:
a = 0.1
type(a)

float

## Complejo?

In [18]:
complejo = (-4) **0.5
complejo

(1.2246467991473532e-16+2j)

In [19]:
type(complejo)

complex

In [20]:
a = 0.1
b = 0.2
a,b

(0.1, 0.2)

In [21]:
a+b

0.30000000000000004

## Booleanos

In [22]:
a = True
b = False

a,b

(True, False)

In [23]:
type(a)

bool

## No-Numéricos => Strings

In [24]:
a = 33
a

33

In [25]:
type(a)

int

In [26]:
a = "33"
a

'33'

In [27]:
type(a)

str

# Pasar de un tipo a otro

In [28]:
a = "33"
a_int = int(a)

a, a_int

('33', 33)

# Input por teclado

In [29]:
edad = input('Ingresa tu edad: ')
edadNumero = float(edad)

print(edad, type(edad))
print(edadNumero, type(edadNumero))

Ingresa tu edad: 43
43 <class 'str'>
43.0 <class 'float'>

In [30]:
edad = input('Ingresa tu edad: ')
edadNumero = edad

print(edad, type(edad))
print(edadNumero, type(edadNumero))

Ingresa tu edad: 43
43 <class 'str'>
43 <class 'str'>

In [31]:
variable = 43
type(variable)

int

In [32]:
variable = 43.0
type(variable)

float

In [33]:
variable = '43'
type(variable)

str

# Strings

In [34]:
a = '55'
b = "10"

(a+b)

'5510'

In [35]:
b*5

'1010101010'

In [36]:
nombre = 'juan'

nombre.upper()

'JUAN'

In [2]:
stringLargo =  '''
                El taco no..
                
                
                
                Hace la personal

                Se va Martinez para el gol
                
                se va, se va
                
                
                '''

In [3]:
print(stringLargo)

                El taco no..



                Hace la personal

                Se va Martinez para el gol

                se va, se va

# Format Strings

In [39]:
nombre = 'Juan'
accionPreferida = 'COME'
variacion = 0.0125

string  = F'Hola {nombre}, tu accion preferida {accionPreferida} hoy varíó {variacion:.2%}'
string

'Hola Juan, tu accion preferida COME hoy varíó 1.25%'

# Funciones de strings

In [40]:
dir(nombre)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
help(nombre.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [42]:
nombre.upper()

'JUAN'

In [43]:
frase = 'yo me llamo juan pablo'

In [44]:
frase.find('pablo')

17

In [45]:
frase.replace(" ", "--")

'yo--me--llamo--juan--pablo'

In [46]:
frase

'yo me llamo juan pablo'

In [47]:
frase.title()

'Yo Me Llamo Juan Pablo'

In [48]:
frase.split(' ')

['yo', 'me', 'llamo', 'juan', 'pablo']

# Librerias

In [49]:
import math

In [50]:
math.pi

3.141592653589793

In [51]:
math.log(100, 10)

2.0

In [52]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [53]:
math.log(math.e)

1.0